/*

Styles for みなぶん.

*/


/**
 * Reset
 * ==========================================================================
 */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	word-break: break-all;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	padding: 0;
}

label {
	display: inline-block;
	vertical-align: middle;
}

pre {
	max-width: 100%;
	margin-bottom: 12px;
	padding: 10px;
	overflow: auto;
	line-height: 1.2;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: Inconsolata, monospace;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #eee;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

input,
select,
textarea,
button {
	margin: 0;
	padding: 0;
	line-height: inherit;
	letter-spacing: inherit;
	vertical-align: middle;
	font-size: inherit;
	font-family: inherit;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"],
input[type="file"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="range"],
input[type="color"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
button,
label {
	cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="image"],
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea,
select,
button {
	background: none;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


/**
 * Base
 * ==========================================================================
 */


/**
 * General
 */

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	overflow-x: hidden;
	word-wrap: break-word;
	line-height: 1;
	font-size: 13px;
	font-weight: 400;
	font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	color: #221815;
}

::selection {
	color: #fff;
	background: #cacaca;
}

::-moz-selection {
	color: #fff;
	background: #cacaca;
}

::-webkit-input-placeholder {
	color: #343434;
}

::-moz-placeholder {
	color: #343434;
}

:-ms-input-placeholder {
	color: #343434;
}

:placeholder {
	color: #343434;
}


/**
 * Layout
 * ==========================================================================
 */


/**
 * Frame
 */

#viewport {
	position: relative;
	overflow: hidden;
}

#container {
	width: 100%;
}

.inside {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 200px;
	position: relative;
}

.inside:after {
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 1440px) {
	.inside {
		max-width: 1300px;
		padding: 0 100px;
	}
}

@media screen and (max-width: 1024px) {
	.inside {
		max-width: 900px;
		padding: 0 50px;
	}
}

@media screen and (max-width: 768px) {
	.inside {
		max-width: 700px;
	}
}

@media screen and (max-width: 480px) {
	.inside {
		padding: 0 40px;
	}
}


/**
 * Header
 */

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#burger {
	width: 120px;
	height: 120px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
}

#burger:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
    border: 60px solid transparent;
    border-top: 60px solid #fff;
    border-right: 60px solid #fff;
	-webkit-transition: border-color ease 0.4s;
			transition: border-color ease 0.4s;
}

#burger:hover:before {
    border-top-color: #004090;
    border-right-color: #004090;
}

#burger p {
	width: 28px;
	height: 14px;
	position: absolute;
	bottom: calc(50% + 18px);
	left: calc(50% + 10px);
	z-index: 2;
}

#burger span {
	height: 2px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	background: #004090;
	-webkit-transition: top ease 0.4s, background ease 0.4s, -webkit-transform ease 0.4s;
			transition: top ease 0.4s, background ease 0.4s, 		 transform ease 0.4s;
}

#burger:hover span {
	background: #fff;
}

#burger span:nth-child(1) {
	top: 0;
}

#burger span:nth-child(2) {
	top: calc(50% - 1px);
}

#burger span:nth-child(3) {
	bottom: 0;
}

#burger:hover span:nth-child(1) {
    -webkit-transform: translate3d(0, -3px, 0);
    		transform: translate3d(0, -3px, 0);
}

#burger:hover span:nth-child(3) {
    -webkit-transform: translate3d(0, 3px, 0);
    		transform: translate3d(0, 3px, 0);
}

.menu-open #burger span:nth-child(1) {
	top: calc(50% - 1px);
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
			transform: rotate(45deg) translate3d(0, 0, 0);
}

.menu-open #burger span:nth-child(2) {
	-webkit-transform: scale3d(0, 1, 1);
			transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform ease 0s;
			transition: 		transform ease 0s;
}

.menu-open #burger span:nth-child(3) {
	top: calc(50% - 1px);
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
			transform: rotate(-45deg) translate3d(0, 0, 0);
}

.menu-open {
	overflow-y: hidden;
}

nav {
	height: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
	color: #fff;
    background: #004090;
	-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
	-webkit-transition: height 0s 0.6s, -webkit-transform cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
			transition: height 0s 0.6s, 		transform cubic-bezier(0.8, 0, 0.2, 1) 0.5s;
}

.menu-open nav {
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
	-webkit-transition-delay: 0s, 0.1s;
			transition-delay: 0s, 0.1s;
}

nav .inside {
	height: 100%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
    overflow-y: scroll;
	opacity: 0;
	-webkit-transition: opacity ease 0.3s 0s;
			transition: opacity ease 0.3s 0s;
}

.menu-open nav .inside {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
			transition-delay: 0.5s;
}

#logo {
	width: 380px;
}

#logo a {
	display: block;
	-webkit-transition: opacity ease 0.4s;
			transition: opacity ease 0.4s;
}

#logo a:hover {
	opacity: 0.7;
}

nav ul {
	padding-top: 50px;
	padding-left: 380px;
}

nav li {
	line-height: 1.5;
	letter-spacing: 0.18em;
	font-size: 24px;
}

nav li a {
	padding: 5px;
	display: inline-block;
	-webkit-transition: opacity ease 0.4s;
			transition: opacity ease 0.4s;
}

nav li a:hover {
	opacity: 0.7;
}

nav li .content-number {
	position: relative;
	bottom: -1px;
	letter-spacing: 0.1em;
	font-size: 30px;
	font-weight: 500;
    font-family: "Yantramanav", sans-serif;
}

@media screen and (max-width: 1440px) {
	#logo {
		width: 320px;
	}
	
	nav li {
		font-size: 20px;
	}
	
	nav li .content-number {
		font-size: 26px;
	}
}

@media screen and (max-width: 1024px) {
	#burger {
		width: 100px;
		height: 100px;
	}

	#burger:before {
		border-width: 50px;
		border-top-width: 50px;
		border-right-width: 50px;
	}
	
	#burger p {
		bottom: calc(50% + 16px);
	}
	
	#logo {
		width: 280px;
	}
	
	nav ul {
		padding-left: 200px;
	}
}

@media screen and (max-width: 768px) {
	nav .inside {
		max-width: none;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	#logo {
		width: 240px;
		position: relative;
		left: -50px;
	}
	
	nav ul {
		max-width: 500px;
		margin: 0 auto;
		padding-left: 0;
	}
	
	nav li {
		font-size: 16px;
	}
	
	nav li .content-number {
		font-size: 20px;
	}
}

@media screen and (max-width: 480px) {
	#burger {
		width: 80px;
		height: 80px;
	}

	#burger:before {
		border-width: 40px;
		border-top-width: 40px;
		border-right-width: 40px;
	}
	
	#burger p {
		width: 22px;
		height: 12px;
		bottom: calc(50% + 10px);
		left: calc(50% + 6px);
	}
	
	nav .inside {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	
	#logo {
		width: 220px;
		top: -30px;
		left: -40px;
	}
	
	nav ul {
		padding-top: 20px;
	}
	
	nav li {
		letter-spacing: 0.1em;
		font-size: 14px;
	}
	
	nav li .content-number {
		font-size: 18px;
	}
}


/**
 * Main
 */

main {
	padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
	main {
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 480px) {
	main {
		padding-bottom: 100px;
	}
}


/**
 * Mainview
 */

#mainview {
	height: 100vh;
	min-height: 900px;
	padding-top: 100px;
	position: relative;
}

#mainview:before {
	content: "";
	height: calc(100% + 200px);
	min-height: 1600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url(images/mainview.png) no-repeat top left;
	background-size: contain;
}

#mainview .inside {
	height: 100%;
}

#mainview h1 {
	width: 380px;
}

#mainview p {
	line-height: 1;
	letter-spacing: 0.09em;
	font-size: 42px;
	font-weight: 500;
	font-family: "Yantramanav", sans-serif;
}

#mainview p span {
	padding: 15px 20px;
	display: inline-block;
	background: #fff;
}

#mainview p small {
	vertical-align: middle;
	font-size: 24px;
}

#discover {
	position: absolute;
	top: calc(50% + 50px);
	right: 200px;
	text-align: right;
}

#discover span:last-child {
	margin-top: -1px;
	padding-top: 0;
}

#discover img {
	height: 28px;
	padding: 2px 9px;
	display: block;
}

#date {
	position: absolute;
	bottom: 0;
	left: 250px;
}

#date span:first-child {
	margin-bottom: -1px;
	padding-bottom: 0;
}

@media screen and (max-width: 2000px) {
	#mainview:before {
		min-height: 1300px;
	}
}

@media screen and (max-width: 1440px) {
	#mainview {
		min-height: 750px;
	}
	
	#mainview:before {
		min-height: 1200px;
	}
	
	#mainview h1 {
		width: 320px;
	}
	
	#mainview p {
		font-size: 34px;
	}
	
	#discover {
		top: calc(50% + 30px);
		right: 100px;
	}
	
	#discover img {
		height: 22px;
	}
	
	#date {
		left: 150px;
	}
}

@media screen and (max-width: 1024px) {
	#mainview {
		min-height: 600px;
	}
	
	#mainview:before {
		min-height: 0;
		left: -100px;
		right: -100px;
	}
	
	#mainview h1 {
		width: 280px;
	}
	
	#mainview p {
		font-size: 28px;
	}
	
	#mainview p small {
		font-size: 18px;
	}
	
	#discover {
		right: 50px;
	}
	
	#discover img {
		height: 20px;
		padding: 2px 6px;
	}
	
	#date {
		left: 100px;
	}
}

@media screen and (max-width: 768px) {
	#mainview {
		height: 560px;
		min-height: 0;
		padding-top: 80px;
	}
	
	#mainview:before {
		left: -160px;
		right: -160px;
	}
	
	#mainview .inside {
		max-width: none;
	}
	
	#mainview h1 {
		width: 240px;
		position: relative;
		left: -50px;
	}
	
	#discover {
		right: 0;
	}
	
	#date {
		left: 50px;
	}
}

@media screen and (max-width: 480px) {
	#mainview {
		height: 520px;
		padding-top: 50px;
	}
	
	#mainview:before {
		left: -200px;
		right: -200px;
	}
	
	#mainview h1 {
		width: 220px;
		top: -30px;
		left: -40px;
	}
	
	#mainview p {
		font-size: 24px;
	}
	
	#mainview p span {
		padding: 12px 15px;
	}
	
	#mainview p small {
		font-size: 14px;
	}
	
	#discover {
		top: calc(50% + 50px);
	}
	
	#discover img {
		height: 16px;
		padding: 1px 4px;
	}
	
	#date {
		left: 30px;
	}
}


/**
 * Content
 */

#content {
	min-height: 100vh;
	position: relative;
}

#content section {
	position: relative;
}

.section-title {
	position: relative;
}

.section-title h1 img {
	height: 32px;
	display: inline-block;
}

.section-title h2 {
	text-align: center;
}

.section-title h2 img {
	height: 28px;
	display: inline-block;
}

.section-title p {
	margin-top: 20px;
	line-height: 1.8;
	letter-spacing: 0.1em;
	font-size: 18px;
}

.section-title_number {
	margin-right: 25px;
	line-height: 1;
	letter-spacing: 0.07em;
	font-size: 78px;
	font-weight: 500;
	font-family: "Yantramanav", sans-serif;
}

.section-body {
	position: relative;
}

@media screen and (max-width: 1440px) {
	.section-title h1 img {
		height: 28px;
	}
	
	.section-title_number {
		font-size: 66px;
	}
}

@media screen and (max-width: 1024px) {
	.section-title h1 img {
		height: 26px;
	}

	.section-title p {
		font-size: 15px;
	}
	
	.section-title h2 img {
		height: 24px;
	}
	
	.section-title_number {
		font-size: 54px;
	}
}

@media screen and (max-width: 768px) {
	.section-title h1 img {
		height: 24px;
	}
	
	.section-title_number {
		margin-right: 20px;
		letter-spacing: 0.02em;
		font-size: 54px;
	}
}

@media screen and (max-width: 480px) {
	.section-title h1 img {
		height: 21px;
	}
	
	.section-title h2 img {
		height: 21px;
	}

	.section-title p {
		margin-top: 10px;
		font-size: 12px;
	}
	
	.section-title_number {
		font-size: 40px;
	}
}


/**
 * Front 1
 */

#front-1 {
	padding: 20px 0 100px;
	z-index: 2;
}

#front-1 .inside:before {
	content: "";
	width: 500px;
	height: 900px;
	position: absolute;
	top: 80px;
	right: 0;
	background: url(images/deco-front-1.png) no-repeat top right;
	background-size: contain;
	pointer-events: none;
}

#first_message {
	padding: 120px 0;
	position: relative;
	z-index: 2;
	text-align: center;
	line-height: 1.8;
	letter-spacing: 0.1em;
	font-size: 26px;
}

#first_message .sp {
	display: none;
}

#front-1 .section-title h1 img {
    margin-top: 25px;
}

#front-1 ul {
	width: calc(100% + 60px);
	margin: 20px auto 0;
	position: relative;
	left: -30px;
}

#front-1 ul:after {
	content: "";
	display: block;
	clear: both;
}

#front-1 li {
	width: 33.3%;
	margin-top: 50px;
	padding: 0 20px;
	float: left;
}

#front-1 li a {
	max-width: 300px;
	margin: 0 auto;
	display: block;
	position: relative;
	-webkit-transition: opacity ease 0.4s;
			transition: opacity ease 0.4s;
}

#front-1 li a:hover {
	opacity: 0.7;
}

#front-1 li .post-header {
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#front-1 li .post-header:before {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	top: -12px;
	left: 0;
	background: url(images/cross_shape.svg) no-repeat center;
	background-size: contain;
}

#front-1 li .post-header time {
	margin-left: 70px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-weight: 700;
	font-family: "Yantramanav", sans-serif;
}

#front-1 li .thumbnail {
	height: 220px;
	background: #a0a0a0 no-repeat center;
	background-size: cover;
}

#front-1 li .post-content {
	padding: 20px 22px 60px;
	position: relative;
	background: #f5f5f5;
}

#front-1 li .post-content:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
    border: 16px solid transparent;
    border-bottom: 16px solid #004090;
    border-right: 16px solid #004090;
}

#front-1 li p {
	line-height: 1.8;
	letter-spacing: 0.05em;
	font-size: 14px;
}

#front-1 li .to_link {
	position: absolute;
	bottom: 20px;
	right: 22px;
	text-align: right;
	font-size: 12px;
}

@media screen and (max-width: 1440px) {
	#first_message {
		padding: 100px 0;
		font-size: 22px;
	}
}

@media screen and (max-width: 1024px) {
	#front-1 .inside:before {
		width: 320px;
	}
	
	#first_message {
		font-size: 18px;
	}

	#front-1 ul {
		width: 100%;
		max-width: 600px;
		left: 0;
	}

	#front-1 li {
		width: 50%;
	}
	
	#front-1 li .thumbnail {
		height: 180px;
	}
}

@media screen and (max-width: 768px) {
	#front-1 {
		padding-top: 10px;
	}
	
	#first_message {
		padding: 50px 0;
		font-size: 16px;
	}
	
	#first_message .sp {
		display: block;
	}
	
	#front-1 .section-title h1 img {
		margin-top: 20px;
	}

	#front-1 li {
		width: auto;
		float: none;
	}
	
	#front-1 li .post-content {
		height: auto !important;
	}
	
	#front-1 li p {
		font-size: 12px;
	}
}

@media screen and (max-width: 480px) {
	#front-1 .inside:before {
		width: 240px;
		right: -40px;
	}
	
	#first_message {
		width: calc(100% + 50px);
		left: -25px;
		letter-spacing: 0.05em;
		font-size: 13px;
	}

	#front-1 li {
		padding: 0;
	}
}


/**
 * Front 2
 */

#front-2 {
	margin-top: 100px;
}

#front-2 .inside:before {
	content: "";
	width: 600px;
	height: 1300px;
	position: absolute;
	top: -300px;
	left: 0;
	background: url(images/deco-front-2.png) no-repeat top left;
	background-size: contain;
	pointer-events: none;
}

#front-2 .section-title {
	width: 500px;
	float: left;
	color: #fff;
}

#front-2 .section-title:before {
	content: "";
	width: 500px;
	height: 500px;
	display: block;
	position: absolute;
	top: -50px;
	left: -200px;
	z-index: -1;
	background: #004090;
}

#front-2 .section-title h1 {
	position: relative;
	z-index: 2;
}

#front-2 .section-title h1 img {
    margin-top: 25px;
}

#front-2 .section-title h1 .white {
	display: none;
}

#front-2 .section-body {
	margin-left: 540px;
	padding-top: 60px;
	z-index: 4;
}

#front-2 .section-body:before {
	content: "";
	width: 120px;
	height: 120px;
	position: absolute;
	bottom: -90px;
	right: 0;
	z-index: -1;
	background: url(images/l_shape.svg) no-repeat right bottom;
	background-size: contain;
}

#front-2 .section-body p {
	line-height: 2;
	letter-spacing: 0.1em;
	font-size: 20px;
}

#front-2 .section-body small {
	display: block;
	line-height: 1.8;
	letter-spacing: 0;
	font-size: 16px;
}

#front-2-image {
	width: 480px;
	max-width: none;
	position: absolute;
	top: 250px;
	right: calc(100% + 100px);
	z-index: 2;
}

@media screen and (max-width: 1440px) {
	#front-2 .section-title {
		width: 450px;
	}
	
	#front-2 .section-title:before {
		width: 470px;
		height: 470px;
	}
	
	#front-2 .section-body {
		margin-left: 500px;
	}
	
	#front-2-image {
		width: 460px;
		right: calc(100% + 70px);
	}
}

@media screen and (max-width: 1024px) {
	#front-2 .inside:before {
		width: 250px;
		top: -200px;
	}
	
	#front-2 .section-title {
		width: 320px;
	}
	
	#front-2 .section-title:before {
		width: 445px;
		height: 340px;
	}
	
	#front-2 .section-body {
		margin-left: 350px;
		padding-top: 120px;
	}
	
	#front-2 .section-body:before {
		width: 90px;
		height: 90px;
		right: -20px;
	}
	
	#front-2 .section-body p {
		max-width: 400px;
		margin-left: auto;
		margin-right: 0;
		font-size: 15px;
	}
	
	#front-2 .section-body small {
		font-size: 12px;
	}
	
	#front-2-image {
		width: 340px;
		top: 200px;
		right: calc(100% + 40px);
	}
}

@media screen and (max-width: 768px) {
	#front-2 .section-title {
		width: auto;
		float: none;
	}
	
	#front-2 .section-title:before {
		width: 440px;
		height: 340px;
		left: -100px;
	}
	
	#front-2 .section-title h1 img {
		margin-top: 20px;
	}
	
	#front-2 .section-title h1 img:not(.white) {
		display: none;
	}
	
	#front-2 .section-title h1 .white {
		display: block;
	}
	
	#front-2 .section-body {
		margin-left: 0;
		padding-top: 80px;
	}
	
	#front-2 .section-body p {
		max-width: 460px;
	}
	
	#front-2-image {
		width: 100%;
		margin-bottom: 50px;
		position: static;
	}
}

@media screen and (max-width: 480px) {
	#front-2 .inside:before {
		width: 200px;
		top: -180px;
	}
	
	#front-2 .section-title:before {
		width: 90%;
		min-width: 310px;
		height: 320px;
		left: -40px;
	}
	
	#front-2 .section-body:before {
		width: 50px;
		height: 50px;
		bottom: -50px;
		right: -30px;
	}
	
	#front-2 .section-body p {
		line-height: 1.8;
		letter-spacing: 0.05em;
	}
}

@media screen and (max-width: 370px) {
	#front-2 .section-body p {
		font-size: 14px;
	}
}


/**
 * Front 3
 */

#front-3 {
	padding: 30px 0 200px;
}

#front-3 .section-title h1 img {
    margin-top: 25px;
}

#front-3 .section-title_number {
	color: #004090;
}

#minabun_map {
	margin-top: 80px;
	position: relative;
	z-index: 4;
}

#minabun_map img {
	width: calc(100% + 60px);
	max-width: none;
	position: relative;
	left: -30px;
}

#front-3 ul {
	margin-top: 100px;
}

#front-3 ul {
	position: relative;
	z-index: 3;
}

#front-3 li {
	position: relative;
}

#front-3 li:not(:first-child) {
	margin-top: 100px;
}

#front-3 li:after {
	content: "";
	display: block;
	clear: both;
}

#front-3 li .list-content {
	width: 100%;
}

#front-3 li h1 {
	margin-bottom: 30px;
}

#front-3 li h1 img {
	height: 74px;
}

#front-3 li h1 .sp {
	display: none;
}

#front-3 li p {
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 20px;
}

#front-3 li .list-image img {
	max-width: none;
	height: 220px;
	display: block;
}

#front-3 li:nth-child(1) {
	max-width: 900px;
	margin: 0 auto;
}

#front-3 li:nth-child(1) .list-content {
	margin-right: -500px;
	padding-top: 30px;
	padding-right: 550px;
	float: left;
}

#front-3 li:nth-child(1) .list-image {
	width: 400px;
	float: left;
}

#front-3 li:nth-child(1) .list-image img {
	float: left;
}

#front-3 li:nth-child(2) .list-content {
	margin-left: -600px;
	padding-top: 100px;
	padding-left: 600px;
	float: right;
}

#front-3 li:nth-child(2) .list-image {
	width: 600px;
    padding-right: 20px;
	float: left;
}

#front-3 li:nth-child(2) .list-image img {
	float: right;
}

#front-3 li:nth-child(3) {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#front-3 li:nth-child(3) .list-content {
	padding-bottom: 30px;
}

#front-3 li:nth-child(3) .list-image {
	float: right;
}

#front-3 li:nth-child(3) .list-image img {
	height: 320px;
}

#front-3 li:nth-child(4) .list-content {
	margin-left: -600px;
	padding-top: 30px;
	padding-left: 650px;
	float: right;
}

#front-3 li:nth-child(4) .list-image {
	width: 400px;
	float: right;
}

#front-3 li:nth-child(4) .list-image img {
	float: right;
}

#front-3 li:before {
	content: "";
	position: absolute;
	z-index: -1;
	pointer-events: none;
}

#front-3 li:nth-child(1):before {
	width: 440px;
	height: 2000px;
	top: -250px;
	right: -50px;
	background: url(images/deco-front-3-1.png) no-repeat top right;
	background-size: contain;
}

#front-3 li:nth-child(2):before {
	width: 460px;
	height: 2000px;
	top: 100px;
	left: -100px;
	background: url(images/deco-front-3-2.png) no-repeat top left;
	background-size: contain;
}

#front-3 li:nth-child(3):before {
	width: 500px;
	height: 2000px;
	top: 300px;
	right: -400px;
	background: url(images/deco-front-3-3.png) no-repeat top left;
	background-size: contain;
}

@media screen and (max-width: 1440px) {
	#front-3 li h1 img {
		height: 60px;
	}
	
	#front-3 li p {
		font-size: 16px;
	}
	
	#front-3 li:nth-child(1) .list-content {
		margin-right: -530px;
		padding-right: 580px;
	}
	
	#front-3 li:nth-child(2) .list-content {
		margin-left: -550px;
		padding-left: 550px;
	}
	
	#front-3 li:nth-child(2) .list-image {
		width: 550px;
	}
	
	#front-3 li:nth-child(4) .list-content {
		margin-left: -550px;
		padding-left: 600px;
	}
	
	#front-3 li:nth-child(3):before {
		right: -300px;
	}
}

@media screen and (max-width: 1024px) {
	#front-3 {
		padding-bottom: 150px;
	}
	
	#zoom {
		right: 50px;
	}
	
	#zoom a {
		width: 60px;
		height: 60px;
	}
	
	#zoom a:before {
		width: 30px;
		height: 30px;
		top: calc(50% - 14px);
	}
	
	#front-3 li .list-image img {
		height: 190px;
	}
	
	#front-3 li:nth-child(1) .list-content {
		margin-right: -400px;
		padding-right: 430px;
	}
	
	#front-3 li:nth-child(2) .list-content {
		margin-left: -450px;
		padding-left: 450px;
	}
	
	#front-3 li:nth-child(2) .list-image {
		width: 450px;
	}
	
	#front-3 li:nth-child(3) .list-image img {
		height: 280px;
	}
	
	#front-3 li:nth-child(4) .list-content {
		margin-left: -460px;
		padding-left: 480px;
	}
	
	#front-3 li:nth-child(1):before {
		width: 360px;
	}
	
	#front-3 li:nth-child(2):before {
		width: 360px;
	}
	
	#front-3 li:nth-child(3):before {
		width: 380px;
		right: -200px;
	}
}

@media screen and (max-width: 768px) {
	#front-3 {
		margin-top: 50px;
		padding-bottom: 100px;
	}
	
	#front-3 .section-title h1 img {
		margin-top: 20px;
	}
	
	#zoom {
		top: -20px;
		right: 20px;
		font-size: 12px;
	}
	
	#zoom a {
		margin-top: 7px;
	}
	
	#front-3 ul {
		max-width: 400px;
		margin: 80px auto 0;
	}
	
	#front-3 li:not(:first-child) {
		margin-top: 60px;
	}
	
	#front-3 li h1 {
		margin-bottom: 20px;
	}
	
	#front-3 li h1 img {
		height: 30px;
	}
	
	#front-3 li h1 img:not(.sp) {
		display: none;
	}
	
	#front-3 li h1 .sp {
		display: block;
	}
	
	#front-3 li p {
		font-size: 14px;
	}
	
	#front-3 li .list-image {
		margin-top: 30px;
	}
	
	#front-3 li .list-image img {
		height: 140px;
	}
	
	#front-3 li:nth-child(1) .list-content,
	#front-3 li:nth-child(2) .list-content,
	#front-3 li:nth-child(4) .list-content {
		float: none;
	}
	
	#front-3 li:nth-child(1) .list-image,
	#front-3 li:nth-child(2) .list-image,
	#front-3 li:nth-child(3) .list-image,
	#front-3 li:nth-child(4) .list-image {
		width: auto;
		float: none;
	}
	
	#front-3 li:nth-child(1) .list-image img,
	#front-3 li:nth-child(2) .list-image img,
	#front-3 li:nth-child(4) .list-image img {
		float: none;
	}
	
	#front-3 li:nth-child(1) .list-content {
		margin-right: auto;
		padding-top: 0;
		padding-right: 0;
		text-align: left;
	}
	
	#front-3 li:nth-child(2) .list-content {
		margin-left: auto;
		padding-top: 0;
		padding-left: 0;
	}

	#front-3 li:nth-child(2) .list-image {
		padding-right: 0;
	}
	
	#front-3 li:nth-child(3) .list-content {
		padding-bottom: 0;
	}
	
	#front-3 li:nth-child(3) .list-image img {
		height: 200px;
	}
	
	#front-3 li:nth-child(4) .list-content {
		margin-left: auto;
		padding-top: 0;
		padding-left: 0;
	}
}

@media screen and (max-width: 480px) {
	#zoom {
		top: -30px;
		right: 0;
	}
	
	#zoom a {
		width: 50px;
		height: 50px;
	}
	
	#zoom a:before {
		width: 20px;
		height: 20px;
		top: calc(50% - 10px);
	}
	
	#front-3 li h1 img {
		height: 26px;
	}
	
	#front-3 li .list-image img {
		height: 110px;
	}
	
	#front-3 li:nth-child(3) .list-image img {
		height: 150px;
		position: relative;
		left: -20px;
	}
	
	#front-3 li:nth-child(1):before {
		width: 300px;
		top: -720px;
		right: -150px;
	}
	
	#front-3 li:nth-child(2):before {
		width: 300px;
		top: -380px;
		left: -160px;
	}
	
	#front-3 li:nth-child(3):before {
		width: 260px;
		top: 330px;
		right: -130px;
	}
}


/**
 * Front 4
 */

#front-4 {
	padding: 80px 0;
	background: #93c0f8;
}

#front-4:before {
	content: "";
	position: absolute;
	top: -50px;
	left: 10px;
	z-index: 2;
    border: 100px solid transparent;
    border-top: 100px solid #004090;
    border-left: 100px solid #004090;
}

#front-4 .section-title h1 img {
    margin-top: 25px;
}

#front-4 .section-title .sp {
	display: none;
}

#front-4 ul {
	margin-top: 50px;
	text-align: center;
	font-size: 0;
}

#front-4 li {
	width: 25%;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
}

#front-4 li p {
	margin: 10px auto;
	text-align: center;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 700;
}

#front-4 li .list-image {
	max-width: 120px;
	margin: 0 auto;
}

#front-4 li .sp {
	display: none;
}

@media screen and (max-width: 1440px) {
	#front-4:before {
		top: -30px;
		border-width: 80px;
		border-top-width: 80px;
		border-left-width: 80px;
	}
}

@media screen and (max-width: 1024px) {
	#front-4:before {
		top: -20px;
		border-width: 60px;
		border-top-width: 60px;
		border-left-width: 60px;
	}
	
	#front-4 li .list-image {
		max-width: 100px;
	}
}

@media screen and (max-width: 768px) {
	#front-4 {
		margin-top: 30px;
		padding: 50px 0;
	}
	
	#front-4:before {
		left: 5px;
		border-width: 50px;
		border-top-width: 50px;
		border-left-width: 50px;
	}
	
	#front-4 .section-title h1 img {
		margin-top: 20px;
	}

	#front-4 .section-title .sp {
		display: block;
	}
	
	#front-4 ul {
		max-width: 400px;
		margin: 20px auto 0;
	}
	
	#front-4 li {
		width: 50%;
		margin-top: 15px;
		padding: 0;
	}
	
	#front-4 li p {
		font-size: 12px;
	}
	
	#front-4 li p br {
		display: none;
	}
	
	#front-4 li:nth-child(5) p:not(.sp),
	#front-4 li:nth-child(6) p:not(.sp) {
		display: none;
	}
	
	#front-4 li .sp {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	#front-4:before {
		border-width: 40px;
		border-top-width: 40px;
		border-left-width: 40px;
	}
	
	#front-4 ul {
		width: calc(100% + 30px);
		position: relative;
		left: -15px;
	}
	
	#front-4 li {
		margin-top: 10px;
	}
	
	#front-4 li p {
		font-size: 10px;
	}
	
	#front-4 li .list-image {
		max-width: 80px;
	}
}


/**
 * Usage_rules
 */

#usage_rules {
	padding-top: 150px;
	background: url(images/deco-usage_rules.png) repeat-x top;
	background-size: 1800px;
}

#usage_rules .section-title {
	margin-bottom: 50px;
}

#usage_rules ul {
	max-width: 580px;
	margin: 0 auto;
}

#usage_rules li {
	padding: 7px 20px 9px 50px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	font-size: 18px;
	color: #fff;
	background: #004090;
}

#usage_rules li:not(:first-child) {
	margin-top: 20px;
}

#about_infection_control {
	max-width: 580px;
	margin: 100px auto 0;
	color: #004090;
}

#about_infection_control h3 {
	margin-bottom: 30px;
	padding: 0 20px 20px;
	border-bottom: 1px solid #004090;
}

#about_infection_control p {
	margin-top: 20px;
	line-height: 1.8;
	letter-spacing: 0.1em;
	font-size: 20px;
}

#access_map {
	margin-top: 150px;
}

#access_map iframe {
	height: 500px;
}

@media screen and (max-width: 1440px) {
	#usage_rules {
		padding-top: 130px;
	}
	
	#about_infection_control p {
		font-size: 18px;
	}
	
	#access_map {
		margin-top: 130px;
	}
}

@media screen and (max-width: 1024px) {
	#usage_rules {
		padding-top: 100px;
		background-size: 1200px;
	}
	
	#about_infection_control p {
		font-size: 16px;
	}
	
	#access_map {
		margin-top: 100px;
	}

	#access_map iframe {
		height: 400px;
	}
}

@media screen and (max-width: 768px) {
	#usage_rules .section-title {
		margin-bottom: 40px;
	}
	
	#usage_rules li {
		padding-left: 30px;
		padding-right: 5px;
		letter-spacing: 0.03em;
		font-size: 15px;
	}
	
	#about_infection_control {
		margin-top: 80px;
	}
	
	#about_infection_control p {
		letter-spacing: 0.05em;
		font-size: 14px;
	}

	#access_map iframe {
		width: calc(100% + 100px);
		position: relative;
		left: -50px;
	}
}

@media screen and (max-width: 480px) {
	#usage_rules {
		padding-top: 80px;
		background-size: 1000px;
	}
	
	#usage_rules .inside {
		padding: 0 20px;
	}
	
	#usage_rules li {
		padding-left: 15px;
		letter-spacing: 0;
		font-size: 11px;
	}
	
	#about_infection_control h3 {
		padding: 0 10px 20px;
	}
	
	#about_infection_control p {
		font-size: 12px;
	}
	
	#access_map {
		margin-top: 80px;
	}

	#access_map iframe {
		width: calc(100% + 40px);
		height: 320px;
		left: -20px;
	}
}

@media screen and (max-width: 370px) {
	#usage_rules li {
		padding-left: 10px;
		font-size: 10px;
	}
}


/**
 * Footer
 */

footer {
	padding: 50px 0;
	position: relative;
	z-index: 2;
	color: #fff;
	background: #004090;
}

#footer-logo {
	width: 300px;
	margin-top: -100px;
	float: left;
}

#contact {
	margin-left: 400px;
}

#contact p {
	line-height: 1.8;
	letter-spacing: 0.1em;
	font-size: 18px;
}

#contact a {
	display: inline-block;
	-webkit-transition: opacity ease 0.4s;
			transition: opacity ease 0.4s;
}

#contact a:hover {
	opacity: 0.7;
}

#to_top {
	display: none;
	position: absolute;
	bottom: 0;
	right: 10px;
}

#to_top img {
	height: 60px;
	display: block;
}

@media screen and (max-width: 1440px) {
	#footer-logo {
		width: 260px;
	}

	#contact {
		margin-left: 350px;
	}
	
	#contact p {
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	#footer-logo {
		width: 220px;
		margin-top: -120px;
		float: none;
	}
	
	#contact {
		margin-top: 50px;
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	#footer-logo {
		width: 200px;
	}
	
	#contact {
		margin-top: 30px;
		padding-right: 30px;
	}
	
	#contact p {
		font-size: 13px;
	}
	
	#to_top {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	footer .inside {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#footer-logo {
		width: 180px;
		margin-top: -110px;
		position: relative;
		left: -20px;
	}
	
	#contact {
		margin-top: 30px;
	}
	
	#contact p {
		font-size: 11px;
	}
}
